<div class="footer">
    <div class="inner-footer">
        <div class="footer-items">
            
            <hr>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/gallery">
                    <li>Gallery</li>
                </a>
                
                <a href="/auction">
                    <li>Auction</li>
                </a>
            </ul>
        </div>
        
    </div>
    
</div>

</div>



</body>

</html>
